<div class="card" *ngIf="product">
  <mat-card class="example-card">

    <mat-card-header>
      <mat-card-title>
        {{product.title}}
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{product.image}}" alt="{{product.image}}">
    <mat-card-content>
      <table>
        <tr>
          <td>
            <div class="card__title"></div>
          </td>
          <td>
            <div class="card__data">{{product.description}}</div>
          </td>

        </tr>
        <tr>
          <td>
            <div class="card__title"></div>
          </td>
          <td>
            <div class="card__data">{{product.price | currency}}</div>
          </td>

        </tr>
      </table>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
