
<div  class="title">Description</div>
<mat-form-field appearance="fill">
  <mat-label></mat-label>
  <input matInput [(ngModel)]="product.description">
</mat-form-field>

<div class="title">Price</div>
<mat-form-field appearance="fill" floatLabel="always">
  <mat-label></mat-label>
  <input matInput type="number" class="example-right-align" placeholder="0" [(ngModel)]="product.price">
  <span matTextPrefix>$&nbsp;</span>
  <span matTextSuffix>.00</span>
</mat-form-field>

<div  class="title">Rate</div>
<mat-form-field appearance="fill" floatLabel="always">
  <mat-label></mat-label>
  <input matInput type="number" class="example-right-align" placeholder="0"  [(ngModel)]="product.rating.rate">
</mat-form-field>


<!-- <mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field> -->
