
.sidebar {
  width: 400px;
  height: 100vh;
  background-color: darkcyan;
  position: fixed;
  top: 0;
  left: -400px;
  transition: 0.3s all ease;
  z-index: 2;

  &--open {
    left: 0px;
  }
}

.backdrop {
  z-index: 1;
  background-color: rgba(17, 17, 17, 0.4);
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  &--open {
    pointer-events: all;
    opacity: 1;
  }
  &__inner
  {
    padding:10px;
    display:block;
    font-size:10px;
    text-decoration: none;
  }
}
